body {
	font-family: 'Montserrat', sans-serif;
}
.bg-grey {
	background-color: #252525;
}
.bg-orange {
	background-color: #FF9C00; 
}
.bg-orange-gradient {
	background-color: #C56D03;
}
.bg-dark-gradient {
	background: rgb(42,42,42);
	background: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(42,42,42,1) 59%, rgba(83,56,39,1) 100%);
}
.white {
	color: #fff;
}
.orange {
	color: #FF9C00;
}
.light-gray {
	color: lightgray;
}
.btn-secondary {
    color: #721c24;
    background-color: #FF9C00;
    border-color: #FF9C00;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #721c24;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.wrapper {
	background-color: black;
}
.input-float {
	position: relative; 
	bottom: 300px;
	left: 50px; 
	z-index: 999;
}
.btn-light{
	background-color: white;
}
.btn-dark {
	background-color: #3B3B3B;
}
.text-search {
	text-align: center;
	color: white;
	left: -70px;
}
.btn-outline-secondary {
	border-color: white;
}
.btn-square {
	border-radius: 0;
}

.jumbotron {
	padding: 2rem 1rem;
}
.card {
	margin-bottom: 10px;
}
.card-oportunidades {
	width: 8.8rem;
    margin-bottom: 10px;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}
.card-item {
	position: relative;
    display: block;
    padding: 0rem 0rem;
    margin-bottom: -1px;
}
.card-body {
	flex: 1 1 auto;
	padding: 0;
}
.card-fontsize-default {
	font-size: 10px;
}
.card-fontsize-main {
	font-size: 13px;
}
.btn-fontsize-main {
	font-size: 14px;
}
.p {
	margin-bottom: 0;
}
.card-col {
	padding-right: 0;
	flex-grow: 0;
}
.card-relogio {
	font-size: 20px;
}
.line {
	margin-top: -0.2rem;
}
.text-logo {
	padding: 0.5rem 0 0 0;
}
.title-fontsize {
	font-size: 23px;
}
.subtitle-fontsize {
	font-size: 1.1rem;
	line-height: 0.5rem;
}
.card-img-round {
	width: 100%;
	border-radius: 100%!important;
}
.card-destaques {
	width: 7.2rem;
	margin-bottom: 10px;
}
.card-board-destaques {
	border-radius: .25rem;
	flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.row-destaques {
	margin-right: -15px;
    margin-left: -5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hr-destaques {
	width: 150px;
}
.hr-funciona {
	width: 230px;
}
hr {
	margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #adb5bd3b;
}
.blog-txt-white {
    position: absolute;
    bottom: 19px;
    background: #f8f9facc;
    color: rgba(0,0,0,.9);
    width: 94%;
    padding: 10px;
    font-size: 11px;
}
.blog-txt-orange {
    position: absolute;
    bottom: 0;
    background: #FF9C00;
    color: rgba(0,0,0,.9);
    width: 94%;
    margin-bottom: 0;
    font-size: 11px;
    padding: 1.3px;
}
.blog-card {
	width: 17rem;
    padding-left: 15px;
    border: 0;
}
.nav-footer {
	padding: 1.3rem 1rem;
}
.nav-top-transparent {
	background: rgba(37,37,37,.9);
    color: #252525;
}
.div-search {
	left: 15%;
    right: 10%;
    position: absolute;
    width: 100%;
}
.input-search {
	width: 500px; 
	height:100%;
}
.btn-search {
	padding: 15px 50px;
}
.carousel-indicators .active {
	width: 120px;
    background-color: orange;
}
.lastrow {
	margin-bottom: -35px;
}
.btn-divulgar {
	margin-bottom: 10px;
}
.parallelogram {
  width: 215px;
  height: 140px;
  transform: skew(-35deg);
  background-image: -webkit-linear-gradient(57deg, #E58304 50%, #FF8500 50%);
}
.col-parallelogram {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 35px;
    flex-basis: 0;
    flex-grow: 0;
    max-width: 100%;
    margin-bottom: 10px;
}
.parallelogram span {
  position: absolute;
  left: 58px;
  top: 6px;
  font-size: 15px;
  transform: skew(35deg);
}
.adjust-jumbotron {
	margin-bottom: 0;
}
.title-section {
	margin-top: 10px;
}

@media only screen and (min-width: 768px) {
	.menu-top {
		margin-top: -60px;
	}
}
@media only screen and (min-width: 1215px){
	.w-lg {
	    width: 100%;
	}
}

.parallelogram-top {
    display:flex;
    flex-direction: row;
    margin-top: 1.5rem;
    font-size:1.5rem;
    padding:0.8rem 2rem;
    transform: skew(-20deg);
  }
.parallelogram-top:hover {
    text-decoration:none;
}
.parallelogram-top-text{
    display:inline-block;
    transform: skew(20deg);
    color: black;
  }

.trapezoid {
  	float: right;
  	display: flex;
    border-bottom: 50px solid #FF9C00;
    border-left: 25px solid transparent;
    height: 0;
    width: 250px;
    flex-direction: row;
}
.trapezoid-text {
 	margin-left: 10px;
 	margin-top: 15px;
    display: inline-block;
    color: black;
 }
 .trapezoid:hover {
 	text-decoration: none;
 }